/* Global */

body {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #000308;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: auto;
    overflow: hidden;
    width: 90%;
}

a {
    text-decoration: none;
    color: #000308;
}


/* Header */

header {
    padding: 1rem 0 0;
}

.header-content h1 {
    margin: 0 0 0.5rem;
    /* text-align: center; */
}

.links ul li {
    padding: 0.2rem 0;
    text-align: left;
    list-style: none;
}


/* Main content */

.main h4 {
    margin: 1.8rem 0 1rem;
    color: rgb(57, 57, 250);
}

.main .main-inner {
    margin: 1.5rem 0;
}

.main .main-inner p {
    margin: 0.5rem 0;
    font-weight: bold;
    letter-spacing: 0.2px;
}

.main .main-inner span {
    font-weight: lighter;
    font-style: italic;
}

.main-content-right .main .main-inner p {
    font-weight: lighter;
}


/* Media Query */

@media screen and (min-width: 700px) {
    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

@media screen and (min-width: 1000px) {
    .container {
        width: 900px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}