@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

/* Global */

body {
    background: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: #525252;
}

.container {
    margin: auto;
    overflow: hidden;
    width: 90%;
}

.hide-on-sm {
    display: none;
}

.hide-on-lg {
    display: block;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
    margin-right: 1rem;
}

img {
    width: 100%;
}

@media screen and (min-width: 700px) {}

@media screen and (min-width: 1000px) {}